.mbppt-header {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
  padding: 30px 0;
  background-size: cover;
  background-position: center;
}
.mbppt-header.recipe {
  height: 65vh;
}
.mbppt-header.action {
  height: 50vh;
}

.mbppt-container {
  max-width: 600px;
  margin: 0 auto;
}

.mbppt-hidden {
  display: none;
}

button.mbppt-button {
  margin-bottom: 0;
  margin-right: 0;
  width: 100%;
}

.mbppt-back-btn-wrapper {
  text-align: center;
}

.mbppt-archive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}
.mbppt-archive .portfolio-link h3 {
  display: block;
  font-size: 1.25rem;
}
.mbppt-archive .portfolio-link p {
  margin: 0;
}

.mbppt-rand {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.mbppt-thumbnail {
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 15px;
}
.mbppt-thumbnail:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}

#mbppt-loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 29;
}

.mbppt-search {
  position: absolute;
  background: #026298;
  right: 0;
  color: white;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  margin: 0;
  height: 38.9px;
}

@media (max-width: 665px) {
  .mbppt-recipe-ajax-filter,
.mbppt-action-ajax-filter {
    grid-template-columns: repeat(1, 100%);
  }
}
/* Customize the label (the mbppt-check-container) */
.mbppt-check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mbppt-check-container input {
  /* Hide the browser's default radio button */
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.mbppt-check-container.checkbox {
  margin: 0;
  padding: 0;
}
.mbppt-check-container.tag {
  display: inline;
  margin-right: 1rem;
  line-height: 2rem;
}
.mbppt-check-container.no-interaction {
  cursor: initial;
}

/* Create a custom radio button */
.mbppt-radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.mbppt-checkmark {
  display: block;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.mbppt-checkmark:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  padding: 50%;
}
.mbppt-checkmark.sdg01, .mbppt-checkmark.sdg01-e, .mbppt-checkmark.sdg01-f {
  background-image: url("../icons/E_SDG_Icons-01.jpg");
}
.mbppt-checkmark.sdg02, .mbppt-checkmark.sdg02-e, .mbppt-checkmark.sdg02-f {
  background-image: url("../icons/E_SDG_Icons-02.jpg");
}
.mbppt-checkmark.sdg03, .mbppt-checkmark.sdg03-e, .mbppt-checkmark.sdg03-f {
  background-image: url("../icons/E_SDG_Icons-03.jpg");
}
.mbppt-checkmark.sdg04, .mbppt-checkmark.sdg04-e, .mbppt-checkmark.sdg04-f {
  background-image: url("../icons/E_SDG_Icons-04.jpg");
}
.mbppt-checkmark.sdg05, .mbppt-checkmark.sdg05-e, .mbppt-checkmark.sdg05-f {
  background-image: url("../icons/E_SDG_Icons-05.jpg");
}
.mbppt-checkmark.sdg06, .mbppt-checkmark.sdg06-e, .mbppt-checkmark.sdg06-f {
  background-image: url("../icons/E_SDG_Icons-06.jpg");
}
.mbppt-checkmark.sdg07, .mbppt-checkmark.sdg07-e, .mbppt-checkmark.sdg07-f {
  background-image: url("../icons/E_SDG_Icons-07.jpg");
}
.mbppt-checkmark.sdg08, .mbppt-checkmark.sdg08-e, .mbppt-checkmark.sdg08-f {
  background-image: url("../icons/E_SDG_Icons-08.jpg");
}
.mbppt-checkmark.sdg09, .mbppt-checkmark.sdg09-e, .mbppt-checkmark.sdg09-f {
  background-image: url("../icons/E_SDG_Icons-09.jpg");
}
.mbppt-checkmark.sdg10, .mbppt-checkmark.sdg10-e, .mbppt-checkmark.sdg10-f {
  background-image: url("../icons/E_SDG_Icons-10.jpg");
}
.mbppt-checkmark.sdg11, .mbppt-checkmark.sdg11-e, .mbppt-checkmark.sdg11-f {
  background-image: url("../icons/E_SDG_Icons-11.jpg");
}
.mbppt-checkmark.sdg12, .mbppt-checkmark.sdg12-e, .mbppt-checkmark.sdg12-f {
  background-image: url("../icons/E_SDG_Icons-12.jpg");
}
.mbppt-checkmark.sdg13, .mbppt-checkmark.sdg13-e, .mbppt-checkmark.sdg13-f {
  background-image: url("../icons/E_SDG_Icons-13.jpg");
}
.mbppt-checkmark.sdg14, .mbppt-checkmark.sdg14-e, .mbppt-checkmark.sdg14-f {
  background-image: url("../icons/E_SDG_Icons-14.jpg");
}
.mbppt-checkmark.sdg15, .mbppt-checkmark.sdg15-e, .mbppt-checkmark.sdg15-f {
  background-image: url("../icons/E_SDG_Icons-15.jpg");
}
.mbppt-checkmark.sdg16, .mbppt-checkmark.sdg16-e, .mbppt-checkmark.sdg16-f {
  background-image: url("../icons/E_SDG_Icons-16.jpg");
}
.mbppt-checkmark.sdg17, .mbppt-checkmark.sdg17-e, .mbppt-checkmark.sdg17-f {
  background-image: url("../icons/E_SDG_Icons-17.jpg");
}

.mbppt-tagmark {
  background-color: #ccc;
  padding: 0.2rem 0.5rem;
  border-radius: 99px;
  color: white;
}

.mbppt-check-container:hover input ~ .mbppt-radiomark,
.mbppt-check-container:hover input ~ .mbppt-tagmark {
  /* On mouse-over, add a grey background color */
  background-color: #ccc;
}
.mbppt-check-container input:checked ~ .mbppt-radiomark,
.mbppt-check-container input:checked ~ .mbppt-checkmark,
.mbppt-check-container input:checked ~ .mbppt-tagmark {
  /* When the radio button is checked, add a blue background */
  background-color: #026298;
}

.mbppt-radiomark:after,
.mbppt-checkmark:after {
  /* Create the checkmark/indicator (hidden when not checked) */
  content: "";
  position: absolute;
  display: none;
}

.mbppt-check-container input:checked ~ .mbppt-radiomark:after,
.mbppt-check-container input:checked ~ .mbppt-checkmark:after {
  /* Show the indicator (dot/circle) when checked */
  display: block;
}
.mbppt-check-container .mbppt-radiomark:after {
  /* Style the indicator (dot/circle) */
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.mbppt-check-container .mbppt-checkmark:after {
  /* Style the checkmark/indicator */
  left: 30%;
  bottom: 20%;
  width: 40%;
  height: 80%;
  border: solid white;
  border-width: 0 20px 20px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mbppt-action-ajax-filter {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-gap: 1rem;
}

.mbppt-stg-filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 1rem;
  padding-bottom: 1rem;
}

.mbppt-topic-filter {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mbppt-ajax-filter .mbppt-topic-filter {
  justify-content: start;
}

.mbppt-center {
  text-align: center;
}

.mbppt-grid-action {
  grid-template-columns: auto 230px;
  display: grid;
  grid-gap: 1rem;
}
.mbppt-grid-action ul {
  padding: 0 0 0 40px;
}

.mbppt-pledge-bar {
  display: block;
  height: 30px;
  border: 5px solid #026298;
  border-radius: 99px;
  margin: 190px 0 30px 0;
}
.mbppt-pledge-bar .mbppt-pledge-bar-fill {
  display: flex;
  background: #026298;
  height: 100%;
  border-radius: 99px 0 0 99px;
  position: relative;
  align-items: center;
  max-width: 100%;
}
.mbppt-pledge-bar .mbppt-pledge-bar-fill svg {
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 50%;
  transform: translate(50%, 0);
}

svg .st0 {
  fill: #FFFFFF;
}
svg .st1, svg .st8 {
  fill: #026298;
}
svg .st2 {
  fill: none;
}
svg .st3 {
  font-weight: bold;
}
svg .st4 {
  font-size: 140px;
}
svg .st5 {
  font-size: 40px;
}

.mbppt-thumbnail {
  position: relative;
}
.mbppt-thumbnail svg {
  position: absolute;
  max-width: 35%;
  right: -0.5rem;
  bottom: -0.5rem;
}

.mbppt_action_pledge_form_wrapper {
  grid-column: 2;
  flex-shrink: 0;
}

.mbppt-pledge-wrapper {
  position: absolute;
  width: 100%;
  margin-top: -320px;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge svg {
  max-width: 230px;
  width: 100%;
  float: right;
  grid-column: 3;
  z-index: 1;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 0;
  margin-top: -115px;
  padding: 115px 0 0 0;
  background: white;
  width: 230px;
  border: 5px solid #026298;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form input,
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form button {
  max-height: 38.9px;
  background: white;
  text-align: left;
  padding: 0 1rem;
  border-radius: 0;
  border: none;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form button:hover {
  background: #026298;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form input {
  margin-bottom: 0;
  z-index: 1;
  box-shadow: none;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form input.mbppt-error {
  background: #ffbdbd;
  color: #c24747;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form input.mbppt-error::placeholder {
  opacity: 1;
  color: #c24747;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form input.mbppt-success {
  background-color: #81ff88;
  color: #0c8412;
}
.mbppt-pledge-wrapper .mbppt-grid-pledge #mbppt-action-pledge-form input.mbppt-success::placeholder {
  opacity: 1;
  color: #0c8412;
}

@media (max-width: 665px) {
  .mbppt-grid-action {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .mbppt-action-ajax-filter {
    grid-template-columns: 1fr;
  }
}
#mbppt_form {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
}

.mbppt-recipe-ajax-filter {
  display: grid;
  grid-template-columns: minmax(130px, 1fr) 3fr;
  grid-gap: 1rem;
}

.mbppt-stats {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  align-self: end;
  color: black;
}
.mbppt-stats .mbppt-icon-archive {
  width: 25px;
}

/**
  Recipe overview css
**/
.portfolio-link {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio-link .mbppt-stats {
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
}
.portfolio-link p, .portfolio-link img {
  display: inline;
}
.portfolio-link .mbppt-hidden {
  display: none;
}

#main-eduInput-content {
  display: flex;
  justify-content: space-between;
}
#main-eduInput-content .mbppt-eduInput-ajax-filter {
  flex-basis: 20%;
  box-sizing: border-box;
}
#main-eduInput-content .mbppt-eduInput-ajax-filter label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  background: #026298;
  color: white;
  text-align: center;
  border-radius: 99px;
  transition: 0.2s ease-in-out;
  font-size: 0.8em;
}
#main-eduInput-content .mbppt-eduInput-ajax-filter input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#main-eduInput-content .mbppt-eduInput-ajax-filter input[type=checkbox]:checked ~ label {
  background: #3BA2DE;
  color: white;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.15);
}
#main-eduInput-content .mbppt-archive {
  flex-basis: 75%;
  box-sizing: border-box;
  align-content: flex-start;
}
#main-eduInput-content .separator {
  margin: 7px 0;
  display: inline-block;
  width: 100%;
  height: 1px;
}
#main-eduInput-content .noPostsFoundh3 {
  font-size: 2em;
}
#main-eduInput-content .check-item-heading {
  width: 100%;
  text-align: center;
  letter-spacing: 1.1px;
  margin-bottom: 3px;
  font-size: 110%;
  color: #026298;
  font-weight: bold;
}
#main-eduInput-content .check-item-heading p {
  padding: 0;
  margin: 0;
}
@media (max-width: 665px) {
  #main-eduInput-content #response {
    margin: 0 2em;
  }
}

/*# sourceMappingURL=mbppt-style.css.map */
