.mbppt-action-ajax-filter {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-gap: 1rem;
}

.mbppt-stg-filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 1rem;
  padding-bottom: 1rem;
}

.mbppt-topic-filter {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#mbppt-ajax-filter {
  .mbppt-topic-filter {
    justify-content: start;
  }
}

.mbppt-center {
  text-align: center;
}

.mbppt-grid-action {
  grid-template-columns: auto 230px;
  display: grid;
  grid-gap: 1rem;

  ul {
    padding: 0 0 0 40px;
  }
}

.mbppt-pledge-bar {
  //flex-grow: 1;
  display: block;
  height: 30px;
  border: 5px solid #026298;
  border-radius: 99px;
  margin: 190px 0 30px 0;

  .mbppt-pledge-bar-fill {
    display: flex;
    background: #026298;
    height: 100%;
    border-radius: 99px 0 0 99px;
    position: relative;
    align-items: center;
    max-width: 100%;

    svg {
      position: absolute;
      width: 150px;
      right: 0;
      bottom: 50%;
      transform: translate(50%,0)
    }
  }
}

svg {
  .st0 {
    fill: #FFFFFF;
  }

  .st1, .st8 {
    fill: #026298;
  }

  .st2 {
    fill: none;
  }

  .st3 {
    font-weight: bold;
  }

  .st4 {
    font-size: 140px;
  }

  .st5 {
    font-size: 40px;
  }
}

.mbppt-thumbnail {
  position: relative;

  svg {
    position: absolute;
    max-width: 35%;
    right: -0.5rem;
    bottom: -0.5rem;
  }
}

// Pledge
.mbppt_action_pledge_form_wrapper {
  grid-column: 2;
  flex-shrink: 0;
}

.mbppt-pledge-wrapper {
  position: absolute;
  width: 100%;
  margin-top: -320px;

  .mbppt-grid-pledge {
    display: flex;
    align-items: flex-end;
    flex-direction: column;


    svg {
      max-width: 230px;
      width: 100%;
      float: right;
      grid-column: 3;
      z-index: 1;
    }

    #mbppt-action-pledge-form {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin-bottom: 0;
      margin-top: -115px;
      padding: 115px 0 0 0;
      background: white;
      width: 230px;
      border: 5px solid #026298;
      border-radius: 0 0 15px 15px;
      overflow: hidden;

      input,
      button {
        max-height: 38.9px;
        background: white;
        text-align: left;
        padding: 0 1rem;
        border-radius: 0;
        border: none;
      }

      button:hover {
        background: #026298;
      }

      input {
        margin-bottom: 0;
        z-index: 1;
        box-shadow: none;

        &.mbppt-error {
          background: rgb(255, 189, 189);
          color: rgb(194, 71, 71);

          &::placeholder {
            opacity: 1;
            color: rgb(194, 71, 71);
          }
        }

        &.mbppt-success {
          background-color: rgb(129, 255, 136);
          color: #0c8412;

          &::placeholder {
            opacity: 1;
            color: #0c8412;
          }
        }
      }
    }
  }
}

@media(max-width: 665px) {
  .mbppt-grid-action {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 500px) {
  .mbppt-action-ajax-filter {
    grid-template-columns: 1fr;
  }
}