/* Customize the label (the mbppt-check-container) */

.mbppt-check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    /* Hide the browser's default radio button */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &.checkbox {
    margin: 0;
    padding: 0;
  }
  &.tag {
    display: inline;
    margin-right: 1rem;
    line-height: 2rem;
  }
  &.no-interaction {
    cursor: initial;
  }
}

/* Create a custom radio button */

.mbppt-radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.mbppt-checkmark {
  display: block;
  padding-bottom: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    padding: 50%;
  }

  &.sdg01,
  &.sdg01-e,
  &.sdg01-f {
    background-image: url('../icons/E_SDG_Icons-01.jpg');
  }

  &.sdg02,
  &.sdg02-e,
  &.sdg02-f {
    background-image: url('../icons/E_SDG_Icons-02.jpg');
  }

  &.sdg03,
  &.sdg03-e,
  &.sdg03-f {
    background-image: url('../icons/E_SDG_Icons-03.jpg');
  }

  &.sdg04,
  &.sdg04-e,
  &.sdg04-f {
    background-image: url('../icons/E_SDG_Icons-04.jpg');
  }

  &.sdg05,
  &.sdg05-e,
  &.sdg05-f {
    background-image: url('../icons/E_SDG_Icons-05.jpg');
  }

  &.sdg06,
  &.sdg06-e,
  &.sdg06-f {
    background-image: url('../icons/E_SDG_Icons-06.jpg');
  }

  &.sdg07,
  &.sdg07-e,
  &.sdg07-f {
    background-image: url('../icons/E_SDG_Icons-07.jpg');
  }

  &.sdg08,
  &.sdg08-e,
  &.sdg08-f {
    background-image: url('../icons/E_SDG_Icons-08.jpg');
  }

  &.sdg09,
  &.sdg09-e,
  &.sdg09-f {
    background-image: url('../icons/E_SDG_Icons-09.jpg');
  }

  &.sdg10,
  &.sdg10-e,
  &.sdg10-f {
    background-image: url('../icons/E_SDG_Icons-10.jpg');
  }

  &.sdg11,
  &.sdg11-e,
  &.sdg11-f {
    background-image: url('../icons/E_SDG_Icons-11.jpg');
  }

  &.sdg12,
  &.sdg12-e,
  &.sdg12-f {
    background-image: url('../icons/E_SDG_Icons-12.jpg');
  }

  &.sdg13,
  &.sdg13-e,
  &.sdg13-f {
    background-image: url('../icons/E_SDG_Icons-13.jpg');
  }

  &.sdg14,
  &.sdg14-e,
  &.sdg14-f {
    background-image: url('../icons/E_SDG_Icons-14.jpg');
  }

  &.sdg15,
  &.sdg15-e,
  &.sdg15-f {
    background-image: url('../icons/E_SDG_Icons-15.jpg');
  }

  &.sdg16,
  &.sdg16-e,
  &.sdg16-f {
    background-image: url('../icons/E_SDG_Icons-16.jpg');
  }

  &.sdg17,
  &.sdg17-e,
  &.sdg17-f {
    background-image: url('../icons/E_SDG_Icons-17.jpg');
  }
}

.mbppt-tagmark {
  background-color: #ccc;
  padding: 0.2rem 0.5rem;
  border-radius: 99px;
  color: white;
}

.mbppt-check-container {
  &:hover input {

    ~.mbppt-radiomark,
    ~.mbppt-tagmark {
      /* On mouse-over, add a grey background color */
      background-color: #ccc;
    }
  }

  input:checked {

    ~.mbppt-radiomark,
    ~.mbppt-checkmark,
    ~.mbppt-tagmark {
      /* When the radio button is checked, add a blue background */
      background-color: #026298;

    }
  }
}

.mbppt-radiomark,
.mbppt-checkmark {
  &:after {
    /* Create the checkmark/indicator (hidden when not checked) */
    content: "";
    position: absolute;
    display: none;
  }
}

.mbppt-check-container {

  input:checked {

    ~.mbppt-radiomark:after,
    ~.mbppt-checkmark:after {
      /* Show the indicator (dot/circle) when checked */
      display: block;
    }
  }

  .mbppt-radiomark:after {
    /* Style the indicator (dot/circle) */
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  .mbppt-checkmark:after {
    /* Style the checkmark/indicator */
    left: 30%;
    bottom: 20%;
    width: 40%;
    height: 80%;
    border: solid white;
    border-width: 0 20px 20px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}