#main-eduInput-content {
  display: flex;
  justify-content: space-between;

  .mbppt-eduInput-ajax-filter {
    flex-basis: 20%;
    box-sizing: border-box;

    .check-item {
    }

    label {
      width: 100%;
      display: inline-block;
      cursor: pointer;
      padding: 5px 10px;
      background: #026298;
      color: white;
      text-align: center;
      border-radius: 99px;
      transition: .2s ease-in-out;
      font-size: .8em;
    }

    input[type="checkbox"] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    input[type="checkbox"]:checked ~ label {
      background: #3BA2DE;
      color: white;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, .15);
    }
  }

  .mbppt-archive {
    flex-basis: 75%;
    box-sizing: border-box;
    align-content: flex-start;
  }

  .separator {
    margin: 7px 0;
    display: inline-block;
    width: 100%;
    height: 1px;
  }

  .noPostsFoundh3 {
    font-size: 2em;
  }

  .check-item-heading {
    width: 100%;
    text-align: center;
    letter-spacing: 1.1px;
    margin-bottom: 3px;
    font-size: 110%;
    color: #026298;
    font-weight: bold;

    p {
      padding: 0;
      margin: 0;
    }
  }

  @media (max-width: 665px) {
    #response {
      margin: 0 2em;
    }
  }
}