.mbppt-header {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 100%);
  padding: 30px 0;
  background-size: cover;
  background-position: center;

  &.recipe {
    height: 65vh;
  }

  &.action {
    height: 50vh;
  }
}

.mbppt-container {
  max-width: 600px;
  margin: 0 auto;
}

.mbppt-hidden {
  display: none;
}

//fix for button
button.mbppt-button {
  margin-bottom: 0;
  margin-right: 0;
  width: 100%;
}
.mbppt-back-btn-wrapper {
  text-align: center;
}

//Grid of the Archive Pages (and the similar post section on action pages)
.mbppt-archive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;

  .portfolio-link {
    h3 {
      display: block;
      font-size: 1.25rem;
    }
    p {
      margin: 0;
    }
  }
}

//Grid of the "Similar to this" areas on recipes
.mbppt-rand {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

// thumbails on archive pages
.mbppt-thumbnail {
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 15px;

  &:after {
    content: '';
    display: block;
    padding-bottom: 60%;
  }
}

#mbppt-loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 29;
}

.mbppt-search {
  position: absolute;
  background: #026298;
  right: 0;
  color: white;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  margin: 0;
  height: 38.9px;
}

@media (max-width: 665px) {

  .mbppt-recipe-ajax-filter,
  .mbppt-action-ajax-filter {
    grid-template-columns: repeat(1, 100%);
  }
}