// season selection form for co2 selection for recipes - currenttly not in use
#mbppt_form {
  display: none;
  //  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
}

.mbppt-recipe-ajax-filter {
  display: grid;
  grid-template-columns: minmax(130px, 1fr) 3fr;
  grid-gap: 1rem;
}

// co2, time and cost stats on recipe page
.mbppt-stats {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  align-self: end;
  color: black;

  .mbppt-icon-archive {
    width: 25px;
  }
}

/**
  Recipe overview css
**/
.portfolio-link {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .mbppt-stats {
    display: flex;
    flex-flow: row unwrap;
    justify-content: space-between;
  }

  p, img {
    display: inline;
  }
  
  .mbppt-hidden {
    display: none;
  }

}